---
import Layout from '../../layouts/Layout.astro';
import { Separator } from '@/components/ui/separator';
---

<Layout title="projects">
  <Separator />
	<main class="w-[935px] flex flex-col mt-8 gap-4">
    <h1 class="scroll-m-20 text-2xl font-extrabold tracking-tight lg:text-3xl text-left underline">projects</h1>
    <p>Currently WIP.</p>
  </main>
</Layout>
